In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel("1.xlsx")
df.head()

  国家   2019年国际排名  2018世界杯  2015亚洲杯
0  中国         73       40        7
1  日本         60       15        5
2  韩国         61       19        2
3  伊朗         34       18        6
4  沙特         67       26       10

In [2]:
train_x = df[["2019年国际排名", "2018世界杯", "2015亚洲杯"]]

    2019年国际排名  2018世界杯  2015亚洲杯
0          73       40        7
1          60       15        5
2          61       19        2
3          34       18        6
4          67       26       10
5          91       40        4
6         101       40       13
7          81       40        6
8          88       40        8
9         122       40       17
10        102       50       17
11         87       50       12
12        116       50       11
13        110       50       14
14        164       50       17
15         40       30        1
16         76       40       17
17        118       50        9
18        160       50       15
19         96       50       16

In [6]:
from sklearn.cluster import KMeans
from sklearn import preprocessing

k_model = KMeans(n_clusters=3)
# k_model
min_max_scaler = preprocessing.MinMaxScaler()
train_x = min_max_scaler.fit_transform(train_x)

array([[0.3       , 0.71428571, 0.375     ],
       [0.2       , 0.        , 0.25      ],
       [0.20769231, 0.11428571, 0.0625    ],
       [0.        , 0.08571429, 0.3125    ],
       [0.25384615, 0.31428571, 0.5625    ],
       [0.43846154, 0.71428571, 0.1875    ],
       [0.51538462, 0.71428571, 0.75      ],
       [0.36153846, 0.71428571, 0.3125    ],
       [0.41538462, 0.71428571, 0.4375    ],
       [0.67692308, 0.71428571, 1.        ],
       [0.52307692, 1.        , 1.        ],
       [0.40769231, 1.        , 0.6875    ],
       [0.63076923, 1.        , 0.625     ],
       [0.58461538, 1.        , 0.8125    ],
       [1.        , 1.        , 1.        ],
       [0.04615385, 0.42857143, 0.        ],
       [0.32307692, 0.71428571, 1.        ],
       [0.64615385, 1.        , 0.5       ],
       [0.96923077, 1.        , 0.875     ],
       [0.47692308, 1.        , 0.9375    ]])

In [7]:
k_model.fit(train_x)
predict_y = k_model.predict(train_x)
predict_y

C:\Bin\envir\python\lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

array([2, 1, 1, 1, 1, 2, 0, 2, 2, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0])

In [9]:
df["聚类"] = predict_y
k_model.cluster_centers_

array([[0.61398601, 0.92207792, 0.83522727],
       [0.14153846, 0.18857143, 0.2375    ],
       [0.37884615, 0.71428571, 0.328125  ]])