# 《数据可视化》— 基于Python的应用

## 第2章  数据的收集与整理

### 第2章思维导图 
<img src="./Fig/Mind2.png" width="1000">

## 2.1  数据的类型

### 　2.1.1  按度量尺度分

2.1.1.1 定性数据

性别:女,男,男,女,男,男,女,男,女,男,女,男,女,女,男

In [ ]:
性别=['女','男','男','女','男','男','女','男','女','男','女','男','女','女','男'];性别

In [ ]:
sex=['女','男','男','女','男','男','女','男','女','男','女','男','女','女','男'];sex

2.1.1.2 定量数据

体重:67,66,83,68,70,90,70,58,63,72,65,76,71,66,77

In [ ]:
体重=[67,66,83,68,70,90,70,58,63,72,65,76,71,66];体重

In [ ]:
weight=[67,66,83,68,70,90,70,58,63,72,65,76,71,66];weight

### 　2.1.2  按时间状况分

2.1.2.1 纵向数据

2.1.2.2 面板数据

## 2.2  数据的收集

### 　2.2.1 横向数据的收集

使用问卷星设计网络化调查问卷，进入问卷星 https://www.wjx.cn 网站可快速设计。

In [1]:
import pandas as pd
pd.read_excel('DaPy_data.xlsx','BSdata')

            学号 性别   身高  体重    支出   开设    课程      软件
0   1510248008  女  167  71  46.0  不清楚  都未学过      No
1   1510229019  男  171  68  10.4  有必要  概率统计  Matlab
2   1512108019  女  175  73  21.0  有必要  统计方法    SPSS
3   1512332010  男  169  74   4.9  有必要  编程技术   Excel
4   1512331015  男  154  55  25.9  有必要  都学习过  Python
5   1516248014  男  183  76  85.6  不必要  编程技术   Excel
6   1516352030  女  169  71   9.1  有必要  编程技术   Excel
7   1516171019  女  166  66   2.5  不必要  都未学过   Excel
8   1516391008  女  165  69  35.6  不必要  都未学过   Excel
9   1520395019  男  173  63  22.8  有必要  统计方法       R
10  1520100029  男  184  82  10.3  有必要  都学习过     SAS
11  1520324035  男  163  66  13.0  有必要  概率统计  Matlab
12  1522186005  男  162  63   9.8  有必要  都学习过    SPSS
13  1522160006  女  168  72  35.3  不必要  统计方法    SPSS
14  1522274026  女  164  66  50.5  有必要  统计方法    SPSS
15  1523376027  男  180  81  64.1  有必要  统计方法   Excel
16  1523368030  女  158  63  20.6  不清楚  都学习过   Excel
17  1524225006  男  179  75   5.8  有必要  编程技术  Python
18  1524105026  女  163  65  69.4  有必要  编程技术  Python
19  1524286013  男  160  62   4.8  有必要  都未学过       R
20  1525235027  女  168  70   8.2  有必要  都学习过       R
21  1525352033  男  185  83   5.1  有必要  都学习过    SPSS
22  1526177005  男  174  76  15.8  有必要  概率统计   Excel
23  1526196010  男  167  72   9.8  不清楚  统计方法    SPSS
24  1527173011  女  160  62  11.5  不必要  都学习过  Matlab
25  1527237032  女  163  65  19.4  有必要  统计方法       R
26  1527289024  男  155  50  10.8  有必要  概率统计    SPSS
27  1529107020  男  178  78   8.9  不清楚  概率统计  Matlab
28  1529314037  男  170  70  15.1  有必要  概率统计     SAS
29  1529245023  男  164  58  21.9  有必要  统计方法   Excel
30  1529365032  男  172  71  10.4  有必要  都学习过    SPSS
31  1530273031  男  178  77  35.6  不必要  统计方法       R
32  1530243029  男  186  87   9.5  不必要  都未学过      No
33  1531364037  女  171  69   7.3  有必要  都学习过   Excel
34  1531316038  女  156  56  52.8  有必要  统计方法   Excel
35  1532304031  女  166  68  47.9  不清楚  统计方法     SAS
36  1532208040  男  176  78  75.5  不必要  概率统计   Excel
37  1532292012  男  178  78  28.4  不必要  概率统计      No
38  1532185004  女  155  54  13.4  不清楚  编程技术   Excel
39  1533219013  女  163  62  11.1  不清楚  概率统计  Matlab
40  1533384028  男  158  60   6.1  有必要  编程技术       R
41  1533172017  女  167  68  27.2  不必要  都未学过   Excel
42  1537288004  女  173  70  19.1  不清楚  编程技术  Python
43  1537359035  女  174  71  17.6  不清楚  概率统计      No
44  1438391022  女  164  62  10.3  有必要  编程技术  Python
45  1538399025  男  169  65   9.5  有必要  统计方法     SAS
46  1438120022  男  166  70  35.6  有必要  统计方法       R
47  1538319004  男  175  68  44.4  不清楚  统计方法     SAS
48  1538254010  女  166  65   5.3  不清楚  编程技术  Python
49  1540294017  女  159  58  71.4  不清楚  都学习过    SPSS
50  1540365026  女  169  73   5.5  有必要  统计方法   Excel
51  1540388036  女  165  67  56.8  不必要  概率统计     SAS

### 　2.2.2 纵向数据的收集

例2.2 季节数据：经济数据

In [2]:
pd.read_excel('DaPy_data.xlsx','YQdata') #横向表

ValueError: Worksheet named 'YQdata' not found

In [3]:
pd.read_excel('DaPy_data.xlsx','QTdata') #纵向表

        YQ     GDP
0   2001Q1   2.330
1   2001Q2   2.565
2   2001Q3   2.687
3   2001Q4   3.384
4   2002Q1   2.536
5   2002Q2   2.797
6   2002Q3   2.972
7   2002Q4   3.728
8   2003Q1   2.886
9   2003Q2   3.101
10  2003Q3   3.346
11  2003Q4   4.249
12  2004Q1   3.342
13  2004Q2   3.699
14  2004Q3   3.956
15  2004Q4   4.991
16  2005Q1   3.912
17  2005Q2   4.280
18  2005Q3   4.474
19  2005Q4   5.828
20  2006Q1   4.532
21  2006Q2   5.011
22  2006Q3   5.191
23  2006Q4   6.897
24  2007Q1   5.476
25  2007Q2   6.124
26  2007Q3   6.410
27  2007Q4   8.571
28  2008Q1   6.628
29  2008Q2   7.419
30  2008Q3   7.655
31  2008Q4   9.702
32  2009Q1   6.982
33  2009Q2   7.839
34  2009Q3   8.310
35  2009Q4  10.960
36  2010Q1   8.250
37  2010Q2   9.238
38  2010Q3   9.729
39  2010Q4  12.934
40  2011Q1   9.748
41  2011Q2  10.901
42  2011Q3  11.586
43  2011Q4  15.076
44  2012Q1  10.837
45  2012Q2  11.963
46  2012Q3  12.574
47  2012Q4  16.573
48  2013Q1  11.886
49  2013Q2  12.916
50  2013Q3  13.908
51  2013Q4  20.092
52  2014Q1  12.821
53  2014Q2  14.083
54  2014Q3  15.086
55  2014Q4  21.656
56  2015Q1  14.067
57  2015Q2  17.351
58  2015Q3  17.316
59  2015Q4  18.937

例2.3  日期数据：股票数据

In [4]:
import pandas as pd
pd.read_excel('DaPy_data.xlsx','Stock')

           date      Open      High       Low     Close      Volume   Adjusted
0    2005-01-03   0.70247   0.71728   0.70247   0.71296         0.0   0.618499
1    2005-01-04   0.70988   0.72145   0.69414   0.69599  10958717.0   0.603777
2    2005-01-05   0.69506   0.70818   0.69506   0.70525   6165072.0   0.611810
3    2005-01-06   0.70231   0.70648   0.69614   0.69676   9845971.0   0.604445
4    2005-01-07   0.69599   0.70957   0.69460   0.70201  13667162.0   0.608999
...         ...       ...       ...       ...       ...         ...        ...
3175 2017-12-25  12.73000  12.74000  12.25000  12.38000  65681626.0  12.380000
3176 2017-12-26  12.46000  12.54000  12.37000  12.52000  30913299.0  12.520000
3177 2017-12-27  12.54000  12.57000  12.10000  12.18000  53813380.0  12.180000
3178 2017-12-28  12.20000  12.28000  12.06000  12.18000  33692919.0  12.180000
3179 2017-12-29  12.18000  12.33000  12.14000  12.29000  25372331.0  12.290000

[3180 rows x 7 columns]

## 2.3  数据的管理

### 　2.3.1 表格管理数据

<img src="./Fig/DaPy_data.png" width="800">

### 　2.3.2 数据库管理数据

### 　2.3.3 Python数据管理